# Dependencies
node_modules/
package-lock.json
# Build output
dist/
build/

# Local env files (important)
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Vite specific
.vite

# TypeScript cache
*.tsbuildinfo